*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    padding: 30px 50px 0 0;
}

nav > a{
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-right: 10px;
}


nav > a:hover{
    text-decoration: underline;
}

body{
    background-image: linear-gradient(to right, #c53737, #690606);
    min-height: 100vh;
    width: 100%;
    display: flex;
}

.form{
    background-color: #fff;
    width: 90%;
    margin: auto;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em;
}

.form-container{
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}

.form-title{
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: 4em;
}

.form-input{
    font-size: 1rem;
    padding: .8em 1em;
    outline: none;
    border: none;
    border: 1px solid #bbb0b0;
    border-radius: 0.2em;
}

.form-input--message{
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: 5em;
}

.form-cta{
    font-size: 1rem;
    background-color: #089fe0;
    color: #fff;
    border: none;
    font-weight: 300;
    padding: 7em 0;
    border-radius: 2em;
    cursor: pointer;
    font-weight: 700;
}

.esaca{
    color: #fff;
}

